*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 450;
}
body{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg-pass-gen.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    color:aliceblue
}
.heading{
    position: absolute;
     top:-1%;
    font-size: 2.7rem;
    padding-top: 2rem;
}
.container{
    border:0.5px solid #fff;
    border-radius:10px;
    padding:28px 32px;
    display: flex;
    flex-direction: column;
    background-color: #0a0e31;
    box-shadow: 15px 15px 30px black;

}
.container h1{
    font-size: 1.4rem;
    margin-block: 8px;
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top:20px;
    right:8px;
    color:black;
    cursor: pointer;
    font-size: 28px;
}
.passBox{
    background-color: #fff;
    border: none;
    outline:none;
    padding:10px;
    width:300px;
    border-radius:4px;
    font-size:20px;
    margin-block:8px;

}
.row{
    display: flex;
    margin-block:8px;

}

.row p ,.row label{
    flex-basis: 100%;
    font-size: 18px;
}

.row input[type="checkbox"]
{
    width:20px;
    height:20px;
}
.genBtn{
    border: none;
    outline:none;
    padding:12px 24px;
    color:#fff;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
	color: #fff;
	border: none;
	background-image: linear-gradient(135deg, #4464f1 0%, #8733db 100%);
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 150ms ease;
	
}

.genBtn:hover{
    background-image: linear-gradient(135deg, #2d51f0 0%, #7d26d4 100%);
}

.footer {
    position: absolute;
    top:95%;
    text-align: center;
    padding-top: 3px;
}

.footer p {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    color: aliceblue
}
@media(max-width:320px)
{
    .footer{
        top:95%;
    }
    .footer p {
        
        font-size: 15px;
        
    }
}